<% include ./partials/header %>

<h1>Acerca de Patrones Hermosos</h1>

<p style=" font-style:italic;">Aprender Patrones de Diseño es encender una flama, nuestra meta es encender la chispa de tus sueños.</p>

<p>Buscamos empoderar a chicas mexicanas, desarrollando sus conocimientos y habilidades de pensamiento computacional, permitiéndoles alcanzar su máximo potencial y transformar sus familias y comunidades, ayudando a México a competir globalmente. </p>


<% include ./partials/footer %>