<% include ./partials/header %>

<h1>Elige la opcion deseada</h1>

<a class="btn btn-primary" href="/register/alumna">Alumna</a>
<a class="btn btn-primary" href="/register/instructora">Instructora</a>

<% include ./partials/footer %>