
<% include ../partials/header %>

<h1>Registrate!</h1>

<form action="/register/alumna" method="POST">
  <div class="form-group">
    <input class="form-control" type="text" name="nombre" placeholder="Nombre completo">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input class="form-control" type="date" name="fechaDeNacimiento" placeholder="Fecha de Nacimiento">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="gradoEscolar" placeholder="Grado Escolar">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="nombreTutor" placeholder="Nombre del Tutor">
  </div>
  <div class="custom-file">
    <input class="custom-file-input" type="file" name="cartaPermiso" id="carta" placeholder="cartaPermiso">
    <label class="custom-file-label" for="carta">Carta permiso</label>
  </div>
	<button class="btn btn-primary mt-4">Sign Up</button>	
</form>

<% include ../partials/footer %>
