body{
  background-color: #000;
}

#landing-header{
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1{
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://static.wixstatic.com/media/84770f_df96a384032540738d1321ed071ab8ed~mv2_d_5700_3800_s_4_2.jpg/v1/fill/w_1106,h_737,fp_0.50_0.50,q_90/84770f_df96a384032540738d1321ed071ab8ed~mv2_d_5700_3800_s_4_2.webp?retry=1) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://static.wixstatic.com/media/1a1564c50cf14a109423416f14e8381a.jpg/v1/fill/w_1106,h_737,fp_0.50_0.50,q_90/1a1564c50cf14a109423416f14e8381a.webp?retry=1);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://static.wixstatic.com/media/84770f_ed362ab51cb94007984856758b66de52~mv2_d_5300_3299_s_4_2.jpg/v1/fill/w_1186,h_737,fp_0.50_0.50,q_90/84770f_ed362ab51cb94007984856758b66de52~mv2_d_5300_3299_s_4_2.webp?retry=1);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://static.wixstatic.com/media/84770f_f1e01a5da2964553831c5988ab71d368~mv2_d_5600_3735_s_4_2.jpg/v1/fill/w_1106,h_737,fp_0.50_0.50,q_90/84770f_f1e01a5da2964553831c5988ab71d368~mv2_d_5600_3735_s_4_2.webp?retry=1);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://static.wixstatic.com/media/84770f_67312a3f77434df8924e93b85ee49bb8~mv2_d_5700_3800_s_4_2.jpg/v1/fill/w_1106,h_737,fp_0.50_0.50,q_90/84770f_67312a3f77434df8924e93b85ee49bb8~mv2_d_5700_3800_s_4_2.webp?retry=1);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F58EA8 !important;
    border-color: #F58EA8 !important;
}