.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.delete-form {
	display: inline;
}

body {
  margin-top: 60px;
}

/* .card, .btn, .form-control { border-radius: 0; } */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F58EA8 !important;
    border-color: #F58EA8 !important;
}