<% include ../partials/header %>

<h1>Invita a una sede a <%= institucion.nombre %> </h1>

Ingresa un email
<form action="/instituciones/<%=institucion._id%>/sedes" method="POST">
  <div class="form-row align-items-center">
      <div class="col-3">
        <input class="form-control" type="text" name="email" placeholder="Email">
      </div>
      <div class="col-3">
        <button class="btn btn-primary">Enviar correo de invitación</button>
      </div>
    </div>
</form>

<% include ../partials/footer %>