
<% include ../partials/header %>



<h1>Registra una sede para <%= institucion.nombre %></h1>
<br>

<form action="/instituciones/<%=institucion._id%>/sedes/" method="POST">
  <h2>Tu información</h2>
	<div class="form-group">
    <input class="form-control" type="text" name="nombre" placeholder="Nombre completo">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="email" placeholder="Email">
  </div>
	<div class="form-group">
    <input class="form-control" type="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input class="form-control" type="date" name="fechaDeNacimiento" placeholder="Fecha de Nacimiento">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="telefono" placeholder="Telefono">
  </div>
  <br>
  <h2>Información de la sede</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="nombreSede" placeholder="Nombre">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="cupo" placeholder="Cupo">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="direccion" placeholder="Dirección">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="telefonoSede" placeholder="Telefono de la sede">
  </div>
	<button class="btn btn-primary">Sign Up</button>	
</form>
<br>
<br>
<% include ../partials/footer %>
