<% include ../partials/header %>

<h1>Instituciones!</h1>
<a class="btn btn-primary" href="instituciones/new/invite">Invitar institución</a>

<p>Listado de las instituciones</p>


<% instituciones.forEach( institucion => {%>
  <div>
    <h2><%= institucion.nombre%></h2>

    <a href="/instituciones/<%= institucion._id %>">Ver mas</a>
  </div>
<% })%>


<% include ../partials/footer %>