<% include ../partials/header%>

<h1>Nueva institución</h1>

<form action="/instituciones" method="POST">
  <input type="text" name="nombre" placeholder="Nombre">
  <button>Crear institución</button>
</form>

<% include ../partials/footer %>