<% include ../partials/header %>

<h1>Invita a una institución</h1>

Ingresa un email
<form action="/instituciones/admin/new" method="POST">
  <input type="text" name="email" placeholder="Email">
  <button>Enviar correo de invitación</button>
</form>

<% include ../partials/footer %>