<% include ../partials/header %>

<h1><%= institucion.nombre %></h1>
<br>
<a class="btn btn-primary mb-4" href="/instituciones/<%=institucion._id%>/sedes/new/invite">Invita a una sede</a>
<h2>Sedes: </h2>
<% institucion.sedes.forEach( sede => { %>

  

<% }) %>

<% include ../partials/footer %>