<% include ../partials/header %>

<h1>Bienvenido al panel!</h1>

<a class="btn btn-primary" href="/instituciones" >Ver instituciones</a>
<a class="btn btn-primary" href="/instituciones/new/invite" >Invitar institucion</a>

<% include ../partials/footer %>