<% include ../partials/header %>

<h1>Bienvenido al panel!</h1>

<a class="btn btn-primary" href="/instituciones" >Ver instituciones</a>
<a class="btn btn-primary" href="/instituciones/new/invite" >Invitar institucion</a>
<a class="btn btn-primary" href="/sedes" >Ver sedes por aprobar</a>
<a class="btn btn-primary" href="/instructoras" >Ver instructoras por aprobar</a>


<% include ../partials/footer %>